/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Poppins:ital,wght@0,800;1,100&display=swap');

:root {
    --color-principal: #00425a;
    --color-secundario: #181823;
    --color-terceario: #fc7300;
    --color-cuarto: #1f8a70;
    --color-quinto: #eff5f5;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-secundario);
}
h1,
h2,
h3 {
    font-family: 'Belanosima', sans-serif;
}


/* HEADER */
header{
    display: flex;
    align-items: center;
    height: 3rem;
    padding: 2rem;      
    justify-content: space-between;
}

.logo{
    max-width: 6em;
}
/* .abrir-menu{
    display: none;
} */

/*nav*/

.nav-bar{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.nav-bar li a{
    text-decoration: none;
    color: var(--color-terceario);
}
.nav-bar a:hover {
    color: var(--color-quinto);
}

.checkbtn{
    float: right;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}


/* MAIN */
main{
    background-color: var(--color-quinto);
}
h1{
    display: flex;
    font-size: 5rem;
    height: 15rem;
    color: var(--color-terceario);
    align-items: center;
    justify-content: space-around;
}

.portada{
    background-image: url(./img/edificio-interior.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    margin: 10px;
    width: 40%;
    height: auto;
}

p {
    text-align: center;
    margin: 1rem;
    color: var(--color-quinto);
}
/* .seccion-1{
    display: flex;
} */
#quienes-somos{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--color-secundario);
    color: var(--color-terceario);
}
.quienes-somos-img,
.elegirnos-img, 
.propuesta-img{
    width: 50%;
}
.quienes, .propuesta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#por-que-elegirnos{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--color-secundario);
    color: var(--color-quinto);
}
#propuesta-educativa{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: var(--color-secundario);
    color: var(--color-quinto);
}
h2{
    background-color: var(--color-secundario);
    color: var(--color-terceario);
    display: flex;
    justify-content: center;
    padding: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

/* ULTIMAS NOTICIAS */
#ultimas-noticias,
.ultimas-noticias{
    background-color: var(--color-secundario);
    color: var(--color-terceario);
}
section{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}
article{
    margin-top: 10px;
    width: 300px;
    height: 400px;
}
h3{
    text-align: center;
    font-size: 30px;
}
.noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secundario);
    color: #fc7300;


}
.foto-noticias{
    width: 100%;
    height: auto;
}

/* FOOTER */
footer{
    color: var(--color-terceario);
    background-color: var(--color-quinto);
}

footer img{
    width: 50px;
    height: auto;   
}
/* REDES SOCIALES */
.redes-sociales{
    display: flex;
    margin-top: 0.5rem;
}
.redes{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 3.5rem;
}
footer p{
    margin: 0px;
    display: flex;
    align-items: flex-start;
    align-items: center;
}
footer iframe{
    margin-top: 2rem;
    width: 250px;
    height: 250px; 
    margin-left: -1rem;
}


/* formulario */

.formulario {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario input,
.formulario textarea {
    margin-bottom: 10px;
    padding: 1em;
}
.textarea{
    height: 0px;
    width: 298px;
    resize:none;
}
.formulario textarea {
    height: 150px;
}

.enviar{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formulario button {
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    background-color: var(--color-cuarto);
    color: var(--color-secundario);
}


#contacto{
    margin-top: 5rem;
    font-size: 1rem;
}
.contacto{
    color: var(--color-terceario);
    
}
.contacto-footer{
    text-decoration: none;
    list-style-type: none;
    color: var(--color-cuarto);
}
.click-aqui{
    font-size: 0.7rem;
}


.derechos{
    margin-top: 40px;
    background-color: var(--color-principal);
    height: 20px;
    justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .checkbtn{
        display: block;
    }

    nav ul li{
        display: none;
    }

    

    h1{
        text-align: center;
    }

    #quienes-somos,
    #por-que-elegirnos,
    #propuesta-educativa{
    flex-wrap: wrap;
    
    }
   .quienes-somos-img,
   .elegirnos-img,
   .propuesta-img{
    width: 95%;
    margin: 10px;
   }
  p{
    margin: 1rem;
    background-color: var(--color-secundario);
  }
  .maps{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .contacto{
    background-color: var(--color-quinto);
  }
    
}


@media screen and (max-width: 320px) {

  h1{
    font-size: 3rem;
  }

  .redes-sociales{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .redes{
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .mapa{
    position: relative;
    margin-left: 2rem;

  }
  .formulario{
    align-items: center;
  }
}